/* @import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap'); */

.home_page{
    display: flex;
    margin: 0 15em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: fadeIn 0.6s ease-in-out;
}

.main_text{
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.main_text div{
    margin: 1em 0;
}
.captionRoll{
    color: #FBCD7D;
    font-family: Newsreader;
    font-size: 4em;
}
.captionSushi{
    color: #FBCD7D;
    font-family: Newsreader;
    font-size: 3em;
}
.captionDelivery{
    color: #fff;
    font-size: 1.5em;
}
.menu_button{
    border: 1px solid #fff;
    padding: 2em 10em;
    color: #fff;
    /* background-color: #DBB36E; */
    cursor: pointer;
    transition: 0.5s;
    border-radius: 2px;
}
.main_text button:hover{
    /* background-color: rgba(255, 255, 255, 0.3); */
    background-color: #DBB36E;
    border-radius: 6px;
}
.main_text button>span{
    font-size: 1.5em;
    font-weight: 600;
}

.main_picture{
    width: 40%;
}
.home_page_picture{
    width: 40vw;
    height: auto;
}
    
@media (max-width:1200px){
    .home_page{
        display: flex;
        margin: 7em 0 2em;
        font-size: 0.5em;
        font-family: Helvetica ;

    }
    .main_picture{
        display: none;
    }
    .main_text{
        width: 100%;
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .menu_button{
        border: 1px solid #fff;
        padding: 1em 5em;
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s;
    }
}