.head {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.nav_bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 10%;
}

.logo_block {
    width: 15%;
}

.nav_block {
    width: 70%;
}

.cart_block {
    width: 15%;
}

.burger_menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.burger_menu.open {
    max-height: 500px; /* Adjust according to the menu content size */
}

.burger_nav {
    background-color: #161310;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    list-style-type: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 2em 0;
}

.burger_nav li {
    padding: 1em 2em;
    font-size: 1.4em;
    font-weight: 600;
    transition: 0.3s;
}

.burger_nav hr {
    width: 50%;
}

.burger_nav li:hover {
    color: #BC864B;
    background-color: #2e2822;
}

@media (max-width: 800px) {
    .logo_block {
        width: 25%;
    }
    .nav_block {
        width: 0%;
    }

    .cart_block {
        width: 75%;
    }

    .burger_icon {
        display: flex;
    }
}
